<form action="/todos/{{ todo._id }}/edit" method="POST">
  <input type="text" value="{{ todo.name }}" placeholder="name" name="name">
  <button type="submit">Save</button>
   <a href="/">back</a>
</form>